# Recursos individuais que não podem ser upados para o repositório
# para serem utilizados, deve ser obtido de outras fontes externas (ex: Google Drive, WhatsApp, etc) ou módificado antes da execução
# arquivos presentes: videos de exemplo, imagenss, e outros conteúdos autorais.

assets
